.menuli {
            float: left;
            width: 200px;
            font-size: 20px;
        }

        .mainnav a
        {
            font-size:30px;
            color:blue;
            text-decoration:none;
        }

        .mainnav a:hover
        {
            font-size:36px;
            color:#b96437;
            text-decoration:underline;
        }
